{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>有価証券報告書分析ツール「ゆーほー」</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/async.js' %}"></script>
  <link href="{% static 'asyn.css' %}" rel="stylesheet">


  <style>
    body {background: #E5E5E5; }
  </style>

</head>

<body>
  <div class="container">
    <form action="./upload_complete" method="post" enctype="multipart/form-data">
    <div class="all_ui">
      <div class="list">
        <div  class="button_right2"></div>
        <span  class="e19_39" ><label id="pdf_na">{{pdf_name}}</label></span>
      </div>
      <div class="button_right">
        {% csrf_token %}
        <span  class="text1"><label><input type="submit" id="submiter" name="yuuka" style="display:none;" > 送信</label>
        <script type="text/javascript">
            $("#submiter").on("click",function(){
              $('#loading').show();
            });




        </script>
        </span>
      </div>
    </div>
  </div>
  <img  id="loading" src="{% static 'images/Activity Indicator.gif' %}" >
  </form>
    <div class="title_box">
      <span  class="title">有価証券報告書分析ツール</span>
    </div>
  </div>
</body>
</html>
